<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Our Gym</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}?v=2">
</head>
<body>
    <header class="bg-dark text-white text-center py-5">
        <h1 class="display-4">About Our GYM</h1>
        <p class="lead">~ GRANDIR GYM ~</p>
        <div class="image-container">
            <img src="{% static 'images/chest.jpg' %}" alt="Image 1">
            <img src="{% static 'images/rad.avif' %}" alt="Image 2">
            <img src="{% static 'images/reg.jpeg' %}" alt="Image 3">
        </div>
    </header>
    <header-1 class="bg-dark text-white text-center">
        <h2 class="display-5">Our Concept</h2>
        <p class="text">~自分史上最高の挑戦~</p>
        <p class="text-1">大会に挑戦してみませんか？</p>
        <p class="text-1">ボディメイクの大会に出場経験があり、更なる高荷を目指したい方</p>
        <p class="text-1">これからボディメイクを始め大会に挑戦してみたい方</p>
        <p class="text-1">自分史上経験したことのない挑戦を行うことで自分の殻を破ってみませんか！！</p>
        <button id="greetButton">パーソナルトレーニング</button>
        <script src="{% static 'js/about.js' %}"></script>
    </header-1>
    
</body>

</html>
